numpy
pandas
scikit-learn 
seaborn
matplotlib
xgboost
huggingface_hub
agno
langchain_google_genai
google-ai-generativelanguage
google-generativeai
langchain
langchain-community
langchain-core
langchain-google-genai